.weather__animation {
  width: 100vw;
  height: 100vh;
  transition: 1s ease-in-out;
}
@media screen and (max-width: 70rem) {
  .weather__animation {
   height: 150vh;
   padding-top: 10%;
  }
}
.animated-cloud {
  position: relative;
  top: 15%;
  left: 3%;
  width: 50rem;
  height: 100vh;
  z-index: 1;
}
.rainbow {
  position: absolute;
  top: 8%;
  left: 38%;
  z-index: 2;
  transform: scale(1.2);
}
.thunder-container {
  .large {
    position: absolute;
    top: 40%;
    right: -50%;
    transform: scale(2);
  }
  .med1 {
    position: absolute;
    top: 35%;
    left: 30%;
    transform: scale(1.2);
  }
  .med2 {
    position: absolute;
    top: 42%;
    left: 78%;
    transform: scale(0.8);
  }
}
.rain {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -15%;
  left: 20%;
  z-index: 0;
  transform: scale(1.5);
}
.snow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -20%;
  left: 20%;
  transform: scale(1.5);
}

.bubble {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.5);
  z-index: 4;
  animation: updown 50s ease-in-out infinite alternate-reverse;
}
.weather__pills {
  position: absolute;
  display: flex;
  top: 60%;
  left: 12%;
  cursor: pointer;
  border-radius: 5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  .weather__pill {
    padding: 1rem 3rem;
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .weather__pill:first-child {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .weather__pill:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .pill__active {
    background-color: white;
    color: var(--secondary);
  }
  .weather__pill:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(51, 51, 51, 0.5);
  }
}

@media screen and (max-width: 70rem) {
  .animated-cloud {
    top: -13%;
    left: 15%;
    transform: scale(0.8);
  }
  .weather__pills {
    display: none;
  }
}

.cloud {
  position: absolute;
}
.large {
 transform: scale(1);
 top: 0%;
 left: 10%;
 z-index: 1;
 animation: floatingL 01s linear infinite alternate-reverse;
}

.med {
  left: 25%;
  top: 10%;
  z-index: 3;
  transform: scaleX(-0.6) scaleY(0.6);
  animation: floatingM 01s linear infinite alternate-reverse;
  animation-delay: 0.3s;
}

.small {
  z-index: 3;
  transform: scale(0.4);
  top: 10%;
  animation: floatingS 01s linear infinite alternate-reverse;
  animation-delay: 0.6s;
}

@keyframes floatingL {
  0% {
    left: 8%
  }
  100% {
    left: 12%;
  }
}
@keyframes floatingM {
  0% {
    left: 23%
  }
  100% {
    left: 25%;
  }
}
@keyframes updown {
  0% {
    top: 50%;
    left: -10%;
  }
  13% {
    top: 8%;
    left: 46%;
  }
  15% {
    top: 10%;
    left: 50%;
  }
  26% {
    top: 32%;
    left: 96%;
  }
  30% {
    top: 35%;
    left: 100%;
  }
  43% {
    top: 18%;
    left: 146%;
  }
  45% {
    top: 20%;
    left: 150%;
  }
  58% {
    top: 53%;
    left: 196%;
  }
  60% {
    top: 55%;
    left: 200%;
  }
  78% {
    top: 18%;
    left: 246%;
  }
  80% {
    top: 20%;
    left: 250%;
  }
  100% {
    top: 50%;
    left: 310%;
  }

}
