.home {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.home__components {
  position: absolute;
  transform: rotate(-25deg),  translate(0%, 0%);
  transform: translate(0%, 0%);
  top: -10%;
  left: -10%;
  width: 200rem;
  height: 120%;
  display: flex;
  .left {
  background-color: red
  }
  .right {
    background-color: blue
  }
}
.home__component {
  flex-grow: 1;
  height: 100%;
}

